*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.container{
 
    position: relative;
    max-width: auto;
    width: 100%;
    height: auto;
    background-color: #fff;
    border-radius: 6px;
    padding: 30px;
    margin: 0 15px;
    box-shadow: 0 5px 10px rgb(0, 0, 0,0.1);
    align-self: center;
    margin-top: 20px;
    margin-bottom: 30px;
    color: inherit;
    background-color: var(--bs-body-bg);
    
  
}

.container header::before{
    content: "";
    position: absolute;
    bottom: -2px;
    height: 3px;
    left: 0;
    height: 3px;
    width: 27px;
    border-radius: 8px;
    background-color: #248fc5;
}

.container header{
    position:relative;
    font-size: 20px;
    font-weight: 600;
    color: inherit;
}

.container form{
    position: relative;
    min-height: 1000px;
    margin-top: 16px;
    background-color: var(--bs-card-color);
}

.container form .form{
    position: absolute;
    transition: 0.3s ease;
    background-color: var(--bs-card-color);
   
}

/* .container form .form.second{
    opacity: 0;
    pointer-events: none;
}

.container form .form.third{
    opacity: 0;
    pointer-events: none;
}

.container form .form.fourth{
    opacity: 0;
    pointer-events: none;
}

.container form .form.fifth{
    opacity: 0;
    pointer-events: none;
} */




form.secActive .form.first{
    opacity: 1;
    pointer-events: auto;
}

form.secActive .form.second{
    opacity: 0;
    pointer-events: none;
}




.container form .details{
    /* margin-top: 30px; */
}

.container form .details.ID{
    /* margin-top: 10px; */
}

.container form .title{
    font-size: 16px;
    font-weight: 1000;
    margin: 6px 0;
    color: inherit;
    
}

.container form .fields{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container form button, 
.container form .backBtn{
    font-size: 16px;
    font-weight: 400;
 
}







form .fields .input-field{
    display: flex;
    flex-direction: column;
    width: calc(100%/3 - 15px);
    margin: 4px 0;
}

form .fields .input-field2{
    display: flex;
    flex-direction: column;
    width: calc(100%/2 - 15px);
    margin: 4px 0;
}

.input-field label{ 
    font-size: 12px;
    font-weight: 500;
    color: inherit;
}

.input-field2 label{
    font-size: 12px;
    font-weight: 500;
    color: inherit;
}

.input-field2 input{
    outline: none;
    border-radius: 5px;
    color: inherit;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid #aaa;
    padding: 0 15px;
    margin: 8px 0;
    height: 42px;
}

.input-field2 select{
    outline: none;
    border-radius: 5px;
    color: inherit;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid #aaa;
    padding: 0 15px;
    margin: 8px 0;
    height: 42px;
}

.input-field textarea{
    outline: none;
    border-radius: 5px;
    color: inherit;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid #aaa;
    padding: 0 15px;
    margin: 8px 0;
    height: 42px;
}

.input-field textarea:is(:focus, :valid){
    box-shadow: 0 3px 6px rgb(0, 0, 0,0.13);
}


.input-field select{
    outline: none;
    border-radius: 5px;
    color: inherit;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid #aaa;
    padding: 0 15px;
    margin: 8px 0;
    height: 42px;
}

.input-field select:is(:focus, :valid){
    box-shadow: 0 3px 6px rgb(0, 0, 0,0.13);
}


.input-field input{
    outline: none;
    border-radius: 5px;
    color: inherit;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid #aaa;
    padding: 0 15px;
    margin: 8px 0;
    height: 42px;
}

.input-field input:is(:focus, :valid){
    box-shadow: 0 3px 6px rgb(0, 0, 0,0.13);
}

.input-field input[type="date"]{
    color: inherit;
}

.input-field input[type="date"]:valid{
    color: inherit;
}





/* STRAIGHT INPUT */


form .fields .input-field1{
    display: flex;
    flex-direction: column;
    width: calc(100%/1);
    margin: 4px 0;

}

.input-field1 label{
    font-size: 12px;
    font-weight: 500;
    color: inherit;

}

.input-field1 input{
    outline: none;
    border-radius: 5px;
    color: inherit;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid #aaa;
    padding: 0 15px;
    margin: 8px 0;
    height: 42px;
}

.input-field1 input:is(:focus, :valid){
    box-shadow: 0 3px 6px rgb(0, 0, 0,0.13);
}

.input-field1 input[type="date"]{
    color: #707070;
}

.input-field1 input[type="date"]:valid{
    color: #333;
}

.container form button, .backBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 200px;
    width: 100%;
    border: none;
    outline: none;
    color: white;
    background-color: #d52033;
    border-radius: 5px;
    margin: 25px 0;
    transition: all 0.3s linear;
    cursor: pointer;
    margin-right:20px;
}

.form button:hover{
    background: #265df2;
}

form .buttons{
    display: flex;
    align-items: center;
}

form .buttons button, .backBtn{
    margin-right: 14px;
}





.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    margin: 0px;
   
}

.header-container header {
    margin: 0; /* Reset margin for the header */
}